[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/implot"]
	path = Vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "Vendor/Geometry"]
	path = Vendor/Geometry
	url = https://github.com/BhavyanshM/Geometry.git
[submodule "Vendor/HighFive"]
	path = Vendor/HighFive
	url = https://github.com/BlueBrain/HighFive.git
